/* Style général */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #2c3e50;
}

a {
  color: #18bc9c;
  text-decoration: none;
}

header.masthead {
  height: 100vh;
  background-color: #18bc9c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-heading {
  font-size: 2.5em;
  margin-top: 0;
}

.bg-light {
  background-color: #f8f9fa;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

